<div class="item">

    <input [id]="item.description" type="checkbox" (change)="item.done = !item.done" [checked]="item.done"/>
    <label [for]="item.description">{{item.quantity}} {{item.description}}</label>    
  
    <div class="btn-wrapper" *ngIf="!editable">
      <button class="btn" (click)="editable = !editable" title="Edit Item Properties">Edit</button>
      <button class="btn btn-warn" (click)="deleteItem(item.description)" title="Delete Item">Delete</button>
    </div>
  
    <!-- This section shows only if user clicks Edit button -->
    <div *ngIf="editable">
      <input class="sm-text-input" placeholder="edit item" [value]="item.quantity" #itemQuantity (keyup.enter)="saveItemQuantity(itemQuantity.value)">
      <input class="sm-text-input" placeholder="edit item" [value]="item.description" #itemDescription (keyup.enter)="saveItemDescription(itemDescription.value)">
      <div class="btn-wrapper">
        <button class="btn" (click)="editable = !editable">Cancel</button>
        <button class="btn btn-save" (click)="saveItem(itemDescription.value,itemQuantity.value)">Save</button>
      </div>
    </div>
  
</div>