<head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300&display=swap');
    </style>
  </head>

<div class="topnav">
    <a routerLink="/dashboard">Dashboard</a>
    <a class="active" routerLink="/input-items">Input Items</a>
    <a routerLink="/settings">System Settings</a>
</div>
  <div class="main">
    <h1>Input New Items</h1>
    
    <!-- Description Input-->
    <input
      #newItemDescription
      placeholder="Add Item Description"
      class="lg-text-input"
      id="addItemInput"
    />

    <!-- Quantity Input-->
    <input
      #newItemQuantity
      placeholder="Add Item Quantity"
      class="lg-text-input"
      id="addItemInput"
    />

<!-- <button class="btn-primary" (click)="addItem(newItem.value)">Add</button> -->

  <!-- Buttons that show all, still to do, or done items on click -->
  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'"
      title="Displays all existing tasks">
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'"
      title="Displays all undone tasks">
      To Do
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'"
      title="Displays all completed tasks">
      Done
    </button>
  </div>

  <!-- <h2>{{items.length}} item(s)</h2>
        <ul>... -->

<button class="btn-primary" (click)="addItem(newItemDescription.value, newItemQuantity.value)" title="Add the new item">Add</button><br>
<button class="btn-save1" (click)="exportAsUserText(items)" title="Export all existing stock as a .txt file">Export as txt</button><br>
<button class="btn-save1" (click)="export2JSON(items)" title="Export all existing stock as a .JSON file">Export as JSON</button><br>
  
  <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template></h2>
  
  <ul>
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>
  
</div>