<div class="topnav">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/input-items">Input Items</a>
    <a routerLink="/settings">System Settings</a>
</div>
<div class="col-md-12">
    <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details mb-3">
            Sorry, Requested page not found!
        </div><br>
        <div class="error-actions">
            <a routerLink="/dashboard" class="btn button-49">Go Back to Dashboard</a>
        </div>
    </div>
</div>