<!--<head>
    <link rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&display=swap');
    </style>
</head>
-->

<body style="margin: 0px;">
    <div id="topnav">
        <a class="active" routerLink="/dashboard">Dashboard</a>
        <a routerLink="/input-items">Input Items</a>
        <a routerLink="/view-items">View Stock</a>
        <a routerLink="/settings">System Settings</a>
    </div>
    <div class="container">
        <img src="https://cdn.pixabay.com/photo/2016/03/02/20/13/grocery-1232944_1280.jpg" class="initialbackground" alt="background" style="width: 100%;">
        <div class="centered">EasyList</div>
        <div class="bottom-right">Image by Steve Buissinne</div>
    </div>
    <div class="content1">
        <h3>About</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat convallis mattis. Quisque vel elementum turpis, placerat aliquet nisl. Quisque ac dui eu felis aliquet malesuada. Nam varius orci eget molestie eleifend. Maecenas consequat facilisis est id semper. Proin lectus est, convallis non pellentesque in, varius sed turpis. Nam sit amet nulla ut neque mollis vestibulum. Donec non lobortis elit. Curabitur accumsan pretium ullamcorper. Mauris aliquet elit ac arcu iaculis, eu faucibus arcu scelerisque. In fermentum, purus eget pretium imperdiet, eros nisl accumsan libero, ut lobortis justo tortor ac massa. Sed fermentum a urna in dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        <br><br>
        <mark>Ut consectetur imperdiet augue ut facilisis. Sed orci neque, posuere ac metus sit amet, facilisis auctor mi.</mark> Phasellus mollis dolor viverra, ultrices tellus vitae, tincidunt nibh. Nunc sed nulla id lectus sodales fermentum non a justo. Vivamus egestas lacinia tristique. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed faucibus malesuada mi vel molestie. Sed eu consequat sapien, at hendrerit est. Aenean condimentum luctus urna non sodales.
        <br><br>
        Etiam ut augue sed mi euismod mattis. Duis maximus nibh eu est mollis lobortis at eu libero. Sed eleifend neque non posuere vehicula. Nulla ex dolor, commodo id blandit quis, maximus ut ex. Pellentesque ut dolor euismod nunc scelerisque pellentesque. Vivamus convallis dignissim lacus, volutpat lacinia urna semper et. Nam a viverra libero, id lacinia elit. Nullam lacinia non magna et tempus. Integer semper neque id lectus mattis scelerisque. Cras vitae lacus fringilla, aliquam nibh sit amet, maximus dolor. Praesent vel urna et enim porttitor interdum. Nam sollicitudin purus sed orci sodales congue.
    </div>
    <div class="content2">
        <h3>Let's Get Started!</h3>
        The following links lead to their respective components:
        <ul>
            <li><a routerLink="/input-items">Input New Items</a></li>
            <li><a routerLink="/view-items">View Items</a></li>
            <li><a routerLink="/settings">System Settings</a></li>
        </ul>
        <br><br><img src="https://bit.ly/3o1LKrM" style="height: 216px; width: 325px;" alt="placeholder-image">
    </div>
    <footer>©Barua Pvt. Ltd.</footer>
</body>