<div id="topnav">
    <a class="active" routerLink="/dashboard">Dashboard</a>
    <a routerLink="/input-items">Input Items</a>
    <a routerLink="/settings">System Settings</a>
</div>
<div class="container">
    <img src="https://cdn.pixabay.com/photo/2016/03/02/20/13/grocery-1232944_1280.jpg" class="initialbackground" alt="background" style="width: 100%;">
    <div class="centered">EasyList</div>
    <div class="bottom-right"><a href="https://pixabay.com/photos/grocery-shopping-supermarket-1232944/" class="bottom-right-link" target="_blank">Image by Steve Buissinne</a></div>
</div>
<div class="content1">
    <h3>Let's Get Started!</h3>
    The following links lead to their respective components:<br><br>
    <button routerLink="/input-items" class="button-57" role="button"><span class="text" title="Click here to Input New Items!">Input New Items</span><span>Input New Items</span></button>
    <button routerLink="/settings" class="button-57" role="button"><span class="text" title="Click here to set Item Thresholds!">System Settings</span><span>System Settings</span></button>
    <br><br><img src="https://bit.ly/3o1LKrM" style="height: 216px; width: 325px;" alt="placeholder-image">
</div>
<div class="content2">
    <h3>EasyList - About</h3>
    <h4><i>As your go-to inventory system, EasyList aims to loosen your grocery workload.</i></h4>
    With the goal of preventing unfortunate  instances such as overbuying items or consuming expired dairy, EasyList’s numerous commodities can enable it to serve as a <mark>real lifesaver</mark> to those who have better things to spend their time on than their groceries.
    <br><br>
    Building on the foundation set by current industry leaders, EasyList enhances the basic input-output experience through its <mark>intuitive Graphical User Interface</mark>; this makes for an engaging and yet effortless User Experience. In similar fashion to current market-leaders, EasyList also provides its very own <mark>shopping-list functionality</mark>. With inputs regarding the item name and its respective quantity, users can quickly add any items required for purchase with just a few clicks.
    <br><br>
    Unlike other inventory systems however, EasyList’s <mark>threshold system</mark> saves users the worry of even running out of anything. Based on past input, if the quantity of any particular item goes below a preset threshold, the users will immediately be notified the next time they open EasyList. Predictive analysis algorithms can also fill out portions of your shopping list for you based on previous purchasing records, allowing for a <mark>more seamless and far less time-consuming process.</mark> So for those individuals that are searching for an intuitive, efficient, and easy-to-use inventory tracking and management system,
    <br>
    <h4><i>EasyList is just the thing for you.</i></h4>
</div>