/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #eeebe2;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 20;
}

/* Opening Body */
.bodyOpen {
  margin: 0;
  font-family: "Source Code Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

.open {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.open::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.open::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

/* To center the link to Dashboard */
#inner-div {
  display: inline-block;
}

/* Link to Dashboard */
.dashLink {
  color: hsl(0 0% 0% / 0.7);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0;
  color: #F5F3EA;
  background-color: black;
  box-sizing: 2rem;
  padding: 5px;
  border: black solid;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  place-content: center;
  width: 300px;
  display: inline-block;
  text-decoration: none;
}

.dashLink:hover {
  color: #F5F3EA;
  text-decoration: underline;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
    font-family: 'Assistant', sans-serif;
    margin: 0px !important;
    padding: 0px !important;
  }

.btn-wrapper {
    /* flexbox */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
.btn {
    color: #000;
    background-color: #fff;
    border: 2px solid #cecece;
    padding: .35rem 1rem .25rem 1rem;
    font-size: 1rem;
  }
  
.btn:hover {
    background-color: #ecf2fd;
  }
  
.btn:active {
    background-color: #d1e0fe;
  }
  
.btn:focus {
    outline: none;
    border: 2px solid rgb(20, 145, 204);
  }
  
.btn-primary {
    align-items: center;
    background-color: #afb8b3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn-primary:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .btn-primary:hover:after {
    transform: translate(0, 0);
  }
  
  .btn-primary:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .btn-primary:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .btn-primary {
      padding: 0 40px;
    }
  }

  .btn-save1 {
    align-items: center;
    background-color: #ffcc00;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #003366;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn-save1:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .btn-save1:hover:after {
    transform: translate(0, 0);
  }
  
  .btn-save1:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .btn-save1:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .btn-save1 {
      padding: 0 40px;
    }
  }

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(20, 145, 204);
}

::-webkit-scrollbar-thumb {
  background: rgb(6, 87, 124);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(7, 58, 82);
}

/* Cool div attempt */
.container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: #ffdd54;
}
.overlay {
  z-index: 9;
  margin: 30px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #ffcc00;
}
.tryCentre{
    font-family: 'Inconsolata', monospace;
    text-align: center;
    padding-top: 67.5px;
    color: black;
}