<body>
    <div class="topnav">
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/input-items">Input Items</a>
        <a class="active" routerLink="/settings">System Settings</a>
    </div>
    <div class="settings1">
        <h3>Settings Works!</h3>
        But it isn't finished yet :(<br>
        <img src="https://cdn.shopify.com/s/files/1/0717/6093/products/BAL0073_We_reNotFinishedYet_36x24_3da43ee0-4c0b-4cad-aabf-373c4c7cbf5e_900x.jpg?v=1528226735" alt="we're not finished" class="settingsImage">
    </div>    
</body>